
// Colors
    // Dark Mode Elements
 $dark-blue: hsl(209, 23%, 22%);
    // Dark Mode Background
 $very-dark-blue : hsl(207, 26%, 17%);
    // Light Mode Text
 $very-dark-blue-text: hsl(200, 15%, 8%);
    //Light Mode Input
 $dark-gray: hsl(0, 0%, 52%);
 // Light Mode Background
 $very-light-gray: hsl(0, 0%, 98%);
 // Light Mode Background
 $very-light-gray2: hsl(0, 0%, 85%);
 // Dark Mode Text & Light Mode Elements
 $white : hsl(0, 0%, 100%);
  // hover
 $green : hsl(140, 100%, 19%);


// Font-Size
 $font-size-xs:12px;
 $font-size-md:14px;
 $font-size-lg:16px;
 $font-size-xl:24px;

// letter-spacing
$letter-spacing-default:0.05rem;

// Font-Wight
 $fw-normal:300;
 $fw-bold:600;
 $fw-bolder:800;

//  border-radius
$border-radius-default: 4px;